/* You can add global styles to this file, and also import other style files */
$white : #ECEAEC;

body{
    background-image: linear-gradient(to right top, #282334, #2c2537, #30273a, #34293c, #382b3f);
    height: 100vh;
    color: #ECEAEC;
}