<div class="text-center" *ngIf="currentWeaher">
    <h1 class="mt-4">Weather App</h1>
    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">{{weather.city.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{weather.list[0].dt_txt}}</h6>
            <p class="card-text">
                <app-weather [weatherMain]="currentWeaher.weather[0].main"></app-weather>
            </p>
            <h3 class="card-title">{{cTemp}}°C</h3>
        </div>
        <div class="card-body">
            <div class="week-container">
            </div>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <div class="card-text week-container mt-5">
                <ul class="week-list mx-auto">
                    <li class=""><i class="day-icon" data-feather="sun"></i><span class="day-name">Tue</span><span
                            class="day-temp">29°C</span></li>
                    <li><i class="day-icon" data-feather="cloud"></i><span class="day-name">Wed</span><span
                            class="day-temp">21°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-snow"></i><span class="day-name">Thu</span><span
                            class="day-temp">08°C</span></li>
                    <li><i class="day-icon" data-feather="cloud-snow"></i><span class="day-name">Thu</span><span
                            class="day-temp">08°C</span></li>
                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</div>