.text-sun{
  margin-top: 10px;
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  .safari10 { 
  }
      i {
        margin-left: -10px;
      }
}}


.weather-icon {
  position: relative;
  width: 30px;
  height: 30px;
  top: 0;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  animation: weather-icon-move 5s ease-in-out infinite;
}

.sunrise { 
  background: #FFCD41; 
border-radius: 50%; 
box-shadow: rgba(255,255,0,0.1) 0 0 0 4px;
  animation: light-rise 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

.sunset { 
  background: #ff9d41;
border-radius: 50%; 
box-shadow: rgba(255,255,0,0.1) 0 0 0 4px;
  animation: light-set 2s ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light-rise {
  from {
      box-shadow: rgba(255,255,0,0.2) 0 0 0 10px;
  }
  to {
      box-shadow: rgba(255,255,0,0.2) 0 0 0 17px;
  }
}

@keyframes light-set {
  from {
      box-shadow: rgba(255, 123, 0, 0.2) 0 0 0 10px;
  }
  to {
      box-shadow: rgba(255, 115, 0, 0.2) 0 0 0 17px;
  }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.05)
  }
  75% {
    transform:scale(0.95)
  }
  100% {
   transform:scale(1)
  }
}

@keyframes title-appear {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
